:root {
  --text-color: #fff;
  --text-dark: rgb(27, 27, 27);
  --bg-color: rgba(0, 0, 0, 0.25);
  --main-color: rgb(45, 52, 71);
  --second-bg-color: rgb(169, 173, 182);
  --btn-bg-color: rgb(187, 198, 223);
  --btn-bg-rez: rgb(36, 186, 69);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  scroll-behavior: smooth;
  color: var(--text-color);
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-width: 85rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.5rem 0;
  background-color: var(--main-color);
  h1 {
    display: block;
    font-size: 4rem;
    text-align: center;
  }
}

.main {
  background-color: var(--bg-color);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__input {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding: 3rem 2rem;
  .input__header {
    display: flex;
    justify-content: space-between;
    .input__title {
      font-size: 4rem;
    }
    .input__control {
      display: flex;
      gap: 2rem;
    }
  }
  .input__body {
    width: 100%;
    .input__textarea {
      padding: 2rem;
      font-size: 3rem;
      color: var(--text-dark);
      width: 100%;
      resize: vertical;
      height: 30rem;
      max-height: 80rem;
    }
  }
  .input__select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    .input__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .control {
        display: flex;
        gap: 2rem;
        cursor: pointer;
        font-size: 2.5rem;
        padding-left: 2rem;
        input {
          width: 3rem;
          height: 3rem;
        }
        .control__text {
          font-size: 2.5rem;
        }
      }
    }
    .option {
      .option__select {
        width: 20rem;
        height: 4rem;
        padding: 0.5rem 1rem;
        margin-left: 2rem;
        font-size: 2.2rem;
        color: var(--text-dark);
        background-image: none;
        border: 0.2rem solid var(--main-color);
        border-radius: 0.5rem;
        option {
          font-size: 2rem;
          color: var(--text-dark);
        }
      }
    }
  }
  .input__rezult {
    width: 30rem;
    margin: 0 auto;
    background-color: var(--btn-bg-rez);
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.btn {
  width: 15rem;
  height: 5rem;
  color: var(--text-dark);
  font-size: 2.8rem;
  cursor: pointer;
  border: 0.5rem solid var(--main-color);
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    background-color: var(--btn-bg-color);
  }
}

.footer {
  background-color: var(--main-color);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .footer__link {
    width: 18.5rem;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    background-color: inherit;
    img {
      background-color: inherit;
      width: 3rem;
    }
    a {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 2.5rem;
  }
}
